<div>
    <a href="/invoice" class="btn btn-info btn-lg">Add New</a>
    <h1>{{ title }}</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th width="5%">No</th>
            <th style="text-align: right">Discount</th>
            <th style="text-align: right">Total</th>
            <th style="text-align: right" width="15%">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="invoice in data.invoices">
            <td style="vertical-align: middle">{{ $index + 1 }}</td>
            <td align="right" style="vertical-align: middle">{{ invoice.discount }}</td>
            <td align="right" style="vertical-align: middle">{{ invoice.total }}</td>
            <td align="right">
                <a href="/invoice/{{invoice._id}}" class="btn btn-warning" ng-click="onEdit(invoice)">Edit</a>
                <button class="btn btn-danger" ng-click="onRemove(invoice._id)">X</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>