<div>
    <h1>{{ title }}</h1>
    <form>
        <div class="form-group">
            <label for="name">Customer:</label>
            <select name="" id="" ng-model="invoice.customer_id">
                <option ng-repeat="customer in data.customers" value="{{ customer._id }}">{{ customer.name }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="name">Discount:</label>
            <input type="text" class="form-control" id="name" ng-model="invoice.discount">
        </div>

        <div class="form-group pull-right">
            <button type="submit" class="btn btn-info" ng-click="onSubmit(invoice)" style="margin-right: 10px">Submit</button>
            <a class="btn btn-warning" href="/invoices" style="float: right;">Cancel</a>
        </div>
    </form>
</div>