<div>
    <h1>{{ title }}</h1>
    <form>
        <div class="form-group">
            <label for="name">Product name:</label>
            <input type="text" class="form-control" id="name" ng-model="product.name">
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" class="form-control" id="price" ng-model="product.price">
        </div>

        <div class="form-group pull-right">
            <button type="submit" class="btn btn-info" ng-click="onSubmit(product)" style="margin-right: 10px">Submit</button>
            <a class="btn btn-warning" href="/products" style="float: right;">Cancel</a>
        </div>
    </form>
</div>